body{
    background-image:url(g1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-size:20px;
   
}
h2{
    text-align: center;
    color:white;

    }
    label{
        color:white;
    }

    .form{
        background-color: rgba(227, 233, 233, 0.616);  
    width: 400px;
    height: 400px; 
    text-align: center;
    border-style: solid;
    border-color: rgb(33, 1, 43);
    position:relative;
    left: 500px;
    top: 100px;
    
}

input:hover{
    border-color:darkblue;
    
}

